<div class="openaside"><a class="navbutton" href="#" title="{{ .Site.Params.Strings.ShowSideBar }}"></a></div>
<div id="asidepart">
<div class="closeaside"><a class="closebutton" href="#" title="{{ .Site.Params.Strings.HideSideBar }}"></a></div>
<aside class="clearfix">
  {{ partial "widgets/categories" . }}
  {{ partial "widgets/archive" . }}
  {{ partial "widgets/tags" . }}
  <!--
  {{ partial "widgets/tagcloud" . }}
  -->
  {{ partial "widgets/link" . }}
  {{ partial "widgets/rss" . }}
  {{ partial "widgets/revolvermaps" . }}
</aside>
</div>
