{{ partial "head.html" . }}
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <div id="container">
    <div id="main">
{{ range .Data.Pages.GroupByDate "2006" }}
  <h1 id="{{ .Key }}">{{ .Key }}</h1>
  {{ range .Pages}}
  <section class="post2" itemscope itemprop="blogPost">
      <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="url">
      <span itemprop="name">{{ .Title }}</span>
      <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.DateFormat }} </time>
    </a>
  </section>
  {{ end }}
{{ end }}
    </div>
    {{ partial "sidebar.html" . }}
  </div>
  <footer>{{ partial "footer.html" . }}</footer>
  {{ partial "after_footer.html" .}}
</body>
</html>
