{{ if .RSSLink }}
 <link href="{{ .Site.BaseURL }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
<link rel="stylesheet" id="human-style-css" href="/themes/hueman/style.css" type="text/css" media="all"/>
<link rel="stylesheet" id="human-style-css2" href="/themes/hueman-child/style.css" type="text/css" media="all"/>
<link rel="stylesheet" id="human-style-css3" href="/themes/hueman-child/user.css" type="text/css" media="all"/>
<link rel="stylesheet" id="responsive-css" href="/themes/hueman/responsive.css" type="text/css" media="all"/>
<link rel="stylesheet" id="font-awesome-css" href="/themes/hueman/fonts/font-awesome.min.css" type="text/css" media="all"/>
<link rel="stylesheet" href="/public/font/hack/css/hack.min.css">
<link rel="stylesheet" href="/public/highlight/styles/github.css">
<!--[if lt IE 9]>
<script src="/themes/hueman/js/ie/html5.js"></script>
<script src="/themes/hueman/js/ie/respond.js"></script>
<script src="/themes/hueman/js/ie/selectivizr.js"></script>
<![endif]-->
<script type="text/javascript" src="/public/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/themes/hueman/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/themes/hueman/js/scripts.js"></script>
<script type="text/javascript" src="/assets/picturefill/picturefill.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" async defer src="/assets/js/myblog.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?0b07433b4ab8d587dae7d34e71973839";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
