<div class="sidebar s1">
  <a class="sidebar-toggle" title="Expand Sidebar"><i class="fa icon-sidebar-toggle"></i></a>
  <div class="sidebar-content">
    <div class="sidebar-top group">
      <p>Follow:</p>
      {{ partial "social-links.html" . }}
    </div>
    <div class="widget" id="profile">
      <h3>Profile</h3>
      <div class="inner profile-inner">
        <div class="base-info profile-block">
          <img id="avatar" src="/public/avatar.png">
          <h2 id="name">{{ .Site.Params.AuthorName }}</h2>
          <h3 id="title">{{ .Site.Params.Bio }}</h3>
          <span id="location"><i class="fa fa-map-marker"></i>{{ .Site.Params.Location }}</span>
        </div>
        <div class="article-info profile-block">
          <div class="article-info-block">
            <span>{{ len (where .Site.Pages "Type" "post") }} POSTS</span>
          </div>
          <div class="article-info-block">
            <span>{{ len .Site.Taxonomies.tags }} TAGS</span>
          </div>
        </div>
      </div>
    </div>
    <div class="widget widget_recent_entries sidebarLeftCategories">
      <h3>Last posts</h3>
      <ul>
        {{range first .Site.Params.SidebarRecentLimit .Site.Pages}}
        <li><a href="{{ lower .Permalink}}">{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>
    <div id="search-2" class="widget widget_search">
      <h3>Search</h3>
      <form method="get" class="searchform themeform" action="https://www.google.com/search">
        <div>
          <input type="text" class="search" name="q" placeholder="Press enter to start searching">
        </div>
      </form>
    </div>
  </div>
</div>
