{{ partial "head.html" . }}
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <div id="container">
    <div id="main">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ range $index,$data := $paginator.Pages }}
      {{ partial "article.html" $data }}
      {{end}}
      {{ partial "pagination.html" . }}
    </div>
    {{ partial "sidebar.html" . }}
  </div>
  <footer>{{ partial "footer.html" . }}</footer>
  {{ partial "after_footer.html" .}}
</body>
</html>
