{{ partial "head.html" . }}
<body class="archive category col-3cm full-width topbar-enabled chrome">
<div id="wrapper">
  {{ partial "nav.html" . }}
  <div class="container" id="page">
    <div class="container-inner">
      <div class="main">
        <div class="main-inner group">
          <section class="content">
            <div class="page-title pad group">
              <h1><i class="fa fa-folder-open"></i>Category: <span>{{ .Title }}</span></h1>
            </div>
            <div class="pad group">
              {{ $paginate := (.Paginate (where .Data.Pages "Section" "!=" "page") 10) }}
              <div class="post-list group">
                {{ range $index,$data := $paginate.Pages }}
                    {{ if mod $index 2 | eq 0 }}
                      <div class="post-row">
                    {{end}}
                      {{ partial "categoryItem.html" $data }}
                    {{ if mod $index 2 | eq 1 }}
                      </div>
                    {{end}}
                  {{end}}
              </div>
              {{ partial "pagination.html" . }}
          </section>
          {{ partial "sidebarLeftIndexes.html" . }}
          {{ partial "sidebarRight.html" . }}
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
